div.login{
	position: fixed;
    bottom: 35.5%;
    right: 31.5%;
}
.header-frame, .header-frame2{
	color:white;
	font-weight: bold;
}
.header-frame{
	font-size:20px;
}
.header-frame2{
	font-size:16px;
	padding-top: 2px;
}
.h2-judul{
	font-size:18px;
	font-weight: bold; 
}
.right{
	float: right;
}
.left{
	float: left;
}
.center{
	text-align: center;
}
.none{
	display: none;
}
.blue{
	color: #006699;
}
.alert {
    margin-bottom: 5px;
    padding: 7px;
}
.alert-success{
    border: 1px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
}
.alert-danger{
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
.error{
    color: red;
    background-color: #f8d7da;
    /*background-color: #ffe6e6;*/
    /*border:  1px solid red;*/
    border-radius: 4px;
    padding:0 10px;
    display: inline-block;
    margin: 2px 0 0 2px;
    font-weight: normal;
}
.tooltip-inner {
    max-width: 600px;
    padding: 3px 8px;
    color: red;
    text-align: center;
    background-color: #f8d7da;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: red;
}
table{
	margin: 0 auto;
	background: #ffffff;
	margin-bottom: 0.5px;
	border-collapse: collapse; 
}
table.login{
	border: 2px #006699;
}
table.input, table.view {
	min-width: 100%;
	width: 550px;
}

table th, table td {
	padding: 3px 10px;
	/*border: 2px solid #EEF7FB;*/
	text-align: left;
}
table td.infoot{
	background-color: white;
	text-align: right;
	padding: 7px 10px;
}
table td.inlabel{
	background-color: #f2f2f2;
	width: 20%;
}
table td.opsi{
	background-color: #f2f2f2;
	width: 15%;
}
table.view tr:nth-child(odd){
	background-color: #f2f2f2; 
}
/* table.view tr:nth-child(2n+0) {
  background: #f2f2f2;
} */
/* table.view td:hover, table td:nth-child(2n+0):hover {
  background: #ebf0fa;
} */
table th {
	font: normal 12px Arial, Helvetica, sans-serif;
	background: #00ace6;
	color: #ffffff;
}
td.th{
	font: normal 12px Arial, Helvetica, sans-serif;
	background: #00ace6;
	color: #ffffff;
}
th.top{
	background-color: #006699;
	font: bold 14px Arial, Helvetica, sans-serif;
}

table.menu th{
	padding: 1px 5px;
} 
table.menu td{
	padding: 5px;
	background-color: #e6e6e6;
}
table.menu td.top{
	background-color: #cccccc;
}
table.menu td:hover{
	background-color: #bfbfbf;
}
table.menu{
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
	font-size: 10pt;
}
table.menu a{
	width: 100%;
	display: block;
}
span.search{
	margin-top: 3px;
}
select {
	width: 150px;
}
select.report {
	width: 50px;
}

a:link.ano, a:visited.ano, a:hover.ano, a:active.ano{
	text-decoration: none; 
	color: black;
	cursor: pointer;
}
.btn{
	display: inline-block;
	/* padding: 9px 12px;
	padding-top: 7px; */
	margin-bottom: 0;S
	font-size: 14px;
	line-height: 20px;
	color: #5e5e5e;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #d1dade;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-image: none !important;
	border: none;
	text-shadow: none;
	box-shadow: none;
	transition: all 0.12s linear 0s !important;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bdef {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.bblue {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.bgreen {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.bsky {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.borange {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.bred {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.bwhite {
	color: #5e5e5e;
	background-color: #fff;
	border: 1px solid #e5e9ec;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
	cursor: pointer;
}
input[type="button"], input[type="submit"] {
	padding: 3px 25px;
	min-width: 100px;
}
input[type="text"], input[type="password"] {
	width: 350px;
}
input[type="text"].search{
	width: 40px;
	height: 25px;
}
input[type="text"].report{
	width: 70px;
	height: 25px;
}
input[type="text"].kecil{
	width: 90px;
	height: 25px;
}
input[type="text"].sedang, input[type="password"].sedang{
	width: 200px;
	height: 25px;
}
input[type="text"].login, input[type="password"].login{
	width: 130px;
	height: 22px;
}
input[type="button"].nav, input[type="submit"].nav {
	padding: 3px 5px;
	min-width: 35px;
	margin: auto 1.5px;
}
input[type="button"].in, input[type="submit"].in {
	padding: 1px 5px;
	min-width: 35px;
	margin: auto 1.5px;
}
input[readonly], input[readonly="readonly"] {
    cursor: not-allowed;
    /*cursor: pointer;*/
}
input[readonly]:focus, input[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
select[readonly], select[readonly="readonly"]{
    cursor: not-allowed;
}
select[readonly]:focus, select[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid bluesea;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
